@import url(../assets/fontsConfig/fontiran.css);

html,
body {
  margin: 0;
  direction: ltr;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSans, "Courier New", Courier, monospace;
  direction: rtl;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
